.regicontainer {
    background-color: #515f75b0;
    padding: 2rem 2rem 2rem 2rem;
    opacity: 2;
margin-bottom: 30px;
    border-radius: 8px;
    width: 37vw;

    position: absolute;
    left: 30%;
    top:10%
}
.regicontainer:hover {

    background-color: #020125b0;
    padding: 2rem 2rem 2rem 2rem;
    opacity: 2;
    margin-bottom: 30px;
    border-radius: 8px;
    width: 37vw;
    position: absolute;
    left: 30%;
    top:10%
}
#logincontainer{
    background-color: #515f75b0;
    padding: 2rem 2rem 2rem 2rem;
    opacity: 2;
    margin-bottom: 30px;
    border-radius: 8px;
    width: 37vw;

    position: absolute;
    left: 30%;
    top:27%

}
#logincontainer:hover{
    background-color: #020125b0;
    padding: 2rem 2rem 2rem 2rem;
    opacity: 2;
    margin-bottom: 30px;
    border-radius: 8px;
    width: 37vw;

    position: absolute;
    left: 30%;
    top:27%

}




body {
    background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
        url("../img/man-2635036.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: space-between;

}

.formiteam {
    display: flex;
    flex-direction: column;

}

.formiteamlef {
    margin-left: 10px;
    border-bottom: 4px;
}

.formiteamrght {
    margin-left: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;

}

.sub {

    margin-top: 4vh;
    width: 32vw;
    height: 6vh;
    border-radius: 3px;

}

.gen {
    display: flex;
    flex-direction: row;
}

#gender {
    margin-left: 20px;
}

.btn {
    width: 20vh;
    height: 6vh;
    margin-left: 10px;
    margin-top: 20px;

}

.signbtn {
    width: 20vh;
    height: 6vh;
    margin-left: 10px;
    margin-top: 20px;
    background-color: Orange;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-family: 'Libre Baskerville', serif;

}

.signbtn:hover {
    width: 20vh;
    height: 6vh;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #FF6E31;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
}

input {
    border: none;

}
.loginp{
    width:95%;
}

input:focus {
    outline: none;
}

.inp {
    background-color: #fff;
    padding: 1vh 1vh 1vh 1vh;
    border-radius: 3px;
    width: 15vw;
}
#inp{
    background-color: #fff;
    padding: 1vh 1vh 1vh 1vh;
    border-radius: 3px;
    width: 34vw;

}
.heading {
    margin-left: 10px;
    font-family: 'Aboreto', cursive;
    color: white;

}

label {
    font-family: 'Libre Baskerville', serif;
    color: #fff;
}

fieldset {
    color: white;
    font-family: 'Libre Baskerville', serif;
}

select {
    color: black;
    font-family: 'Libre Baskerville', serif;

}

option {
    color: black;
    font-family: 'Libre Baskerville', serif;
}
